<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    


             <ion-nav-buttons  side="left">
            <div ng-controller='mainMenuCtrl' style="background-color: #0958e9;
    border-radius: 100%; height: 50px;width: 50px;   margin-top: 2px;
    margin-left: 7px;    text-align: center;
   ">
                <button ng-click='openModal("menu.html", "fade-in-right")' style='  font-size: 26px;
    margin-top: 8px;
    color: #fafafa;' class="button  button-clear ion-navicon-round" menu-toggle="right">
                </button>
                             <div ng-show='not > 0' ng-controller='getNotiCtrl' style="     position: absolute;
    top: 0;
    left: 0;
    margin-left: 52px;
    margin-top: 20px;
    background-color: orange;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.7;
    border-radius: 100%;
    color: #0958e9;
    font-size: 15px;"><strong>{{not}}</strong></div>
                </div>
            </ion-nav-buttons>


      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>


  <ion-content >
    

    <div class='encabezadoDiv'>
      <span class='encabezadoNombre'>Bienvenido</span>
      <div class='nombreEstudiante' >{{nombreAlumno}}</div>
    </div>

    <div class='nombreSeccion'>
        <div class='cuentaTitulo'>
            Email
        </div>
        <div class='cuentaContent'>
          {{emailAlumno}}
          
        </div>
    </div>

        <div class='nombreSeccion'>
        <div class='cuentaTitulo'>
            Numero de CI
        </div>
        <div class='cuentaContent'>
          {{idUsuario}}
         
        </div>
    </div>

        <div class='nombreSeccion'>
        <div class='cuentaTitulo'>
            Celular
        </div>
        <div  class='cuentaContent'>

          <input ng-disabled='!editando' ng-class='{"editandoInput":editando}'  style='     width: 50%;   display: inline-block;
    background: white;
    color: darkgray;
    font-family: Ubuntu;
    font-size: 18px;' ng-model='telefono' type="number">


           <img style='    margin-top: 0px;' ng-show='!editando'  ng-click='editarTelefono()' src="img/edit.png">
           <img style='      margin-top: 0px;  height: 34px;' ng-show='editando' ng-click='guardarEdicion(telefono)' src="img/guardar.png">

        </div>
    </div>

        <div class='nombreSeccion'>
        <div class='cuentaTitulo'>
            Notificaciones
        </div>
        <div class='cuentaContent'>
         
           <li style='  padding-left: 0px;  border: none !important;' class="cuentaContent item item-toggle">
     Recibir Notificaciones

     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


   
        </div>
    </div>
    <div style='border-bottom: none' class='nombreSeccion'>
<div style="text-align:center;color: #0958e9;font-size: 18px;font-family: UbuntuL;">
        <img src="img/head.png" style="
    margin-bottom: 4px;
"><br>
         <a style='    background: white !important;
    color: #0958e9;
    border: none !important;
    box-shadow: none !important; text-decoration: none' href="tel:77777777" class="">LLAMANOS</a> 
        </div>
    </div>


  </ion-content>
</ion-view>
