<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    

 <ion-nav-back-button class="button-clear">
   
  </ion-nav-back-button>
         
         <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>

    </ion-nav-bar>


  <ion-content >
    

    <div class='encabezadoDiv'>
      <span class='encabezadoNombre' style="font-size:20px !important" >Encuesta</span>
      <div class='nombreEstudiante' style="    line-height: 1 !important; font-size:20px !important" >Marcelo <br> Daponte <br> Gonzalves</div>
    </div>

    <div class='nombreSeccion'>

    <p class='tituloEncuesta' >Encuesta de Evaluacion <br> de calidad del modulo</p>
    <p class='enunciadoEncuesta' >Responde con detenimiento <br>
                                  Tus comentarios nos permitirá <br>
                                  ofrecerte mejores servicios<br>
                                  <strong style="margin-top:2px; font-family:UbuntuB">Califica de 1 al 5 <br> 
                                  Siendo 1 la mas baja y 5 la mas alta
                                  </strong>
                                  </p>


    </div>


    <div class='nombreSeccion'>

      <p class="tituloE">Maestria</p>
      <p class="detalleE">Administracion de negocios (MAN)</p>

      <p class="tituloE">Diplomado</p>
      <p class="detalleE">2. Alta gerencia financiera</p>


      <p class="tituloE" >Módulo</p>
      <p class="detalleE">1. Gestion y planificacion estrategica</p>

      <p class="tituloE">Profesor</p>
      <p class="detalleE">Marcelo Daponte Gonzalves</p>


    </div>

    <div class="encuestaEvaluacionDiv">
      <p>Respecto al modulo</p>
      <div class="encuestaEvualuador">
          <p>En que nivel a llenado sus expectativas</p>
          <div>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
      </div>
      <div class="encuestaEvualuador">
          <p>Nivel de utilidad en el campo laboral</p>
          <div>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
      </div>
    </div>


    <div style='border-bottom: none !important' class="encuestaEvaluacionDiv">

      <p>Respecto al Profesor</p>

      <div class="encuestaEvualuador">
          <p>Prepara y organiza la clase?</p>
          <div>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
      </div>


       <p style="margin-top:20px">Recomendacion</p>
       <div class="encuestaEvualuador">
          <p>Si tienes alguna observacion mas, nos encantaria saber</p>
          <div style="margin-top:20px"> 
            <textarea placeholder="Escribelo Aqui"></textarea>
          </div>
      </div>


       <div class='divButtonEncuesta'> <button ion-ripple class="">enviar encuesta</button></div>
    </div>









  </ion-content>
</ion-view>
