<ion-view>






    <ion-nav-bar align-title="right" class="bar-blank">
    


             <ion-nav-buttons   side="left">
            <div ng-controller='mainMenuCtrl' style="background-color: #0958e9;
    border-radius: 100%; height: 50px;width: 50px;   margin-top: 2px;
    margin-left: 7px;    text-align: center;
   ">
                <button ng-click='openModal("menu.html", "fade-in-right")' style='  font-size: 26px;
    margin-top: 8px;
    color: #fafafa;' class="button  button-clear ion-navicon-round" menu-toggle="right">
                </button>
                    <div ng-show='not > 0' ng-controller='getNotiCtrl' style="     position: absolute;
    top: 0;
    left: 0;
    margin-left: 52px;
    margin-top: 20px;
    background-color: orange;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.7;
    border-radius: 100%;
    color: #0958e9;
    font-size: 15px;"><strong>{{not}}</strong></div>
                </div>
            </ion-nav-buttons>


      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>



  <div ng-controller='publiCtrl' ng-show='publicidadActiva' style="     width: 100%;
    position: absolute;
    bottom: 0px;
    max-height: 27%;
    height: 27% !important;
    z-index: 5;">
      
      <img style='    width: 95%;
    bottom: 0;
    z-index: 1  5;
    margin-left: 2.5%;' src="img/anuncio.png">
    <img ng-click='cerrarPubli()' style='position: absolute;
    top: -7px;
    right: 0;
    height: 30px;
    margin-right: 0.5%;' src="img/close.png">
  </div>


  <ion-content class="home">
    

    <div class='encabezadoDiv'>
      <span class='encabezadoNombre'>Bienvenido</span>
      <div class='nombreEstudiante' >{{nombreAlumno}}</div>
    </div>


    <div ng-show='ExisteMaestria' ui-sref='internaMaestria({idMaestria: maestria.id})' style="   margin-top: 15px; margin-left: 12px;
    margin-right: 12px;    padding-bottom: 18px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.54);">

      <div style="   vertical-align: middle; width: 69%;display: inline-block;">
      <span style="color:#849c00; font-size:26px">Maestria</span>
      <p style="    color: darkgray;font-size:18px" >{{maestria.nombre}}</p>
      <button ui-sref='internaMaestria({idMaestria: maestria.id})' style="    background-color: transparent;
    border: solid 1px lightgray ;    color: darkgray;
    line-height: 20px;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;    min-height: 20px;" class="button button-clear">ver mas</button>
      </div>

      <div style="  color:#849c00;font-size: 40px;   text-align: center;   width: 29%;display: inline-block;line-height: 2;">{{maestria.porcentaje}} <span style="font-size: 30px;position: absolute;margin-top: 5px;">%</span></div>



    </div>






        <div ng-show='ExisteDiplomado' ng-click='verMasDiplomado()' style="   margin-top: 15px; margin-left: 12px;
    margin-right: 12px;    padding-bottom: 18px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.54);">

      <div style="   vertical-align: middle; width: 69%;display: inline-block;">
      <span style="color:#a87619; font-size:26px">Diplomado</span>
      <p style="    color: darkgray;font-size:18px" >{{diplomado.nombre}}</p>
      <button ng-click='verMasDiplomado()' style="    background-color: transparent;
    border: solid 1px lightgray ;    color: darkgray;
    line-height: 20px;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;    min-height: 20px;" class="button">ver mas</button>
      </div>

      <div style="  color:#a87619;font-size: 40px;   text-align: center;   width: 29%;display: inline-block;line-height: 2;">{{diplomado.porcentaje}}<span style="font-size: 30px;position: absolute;margin-top: 5px;">%</span></div>



    </div>


            <div ng-show='existeModulo' ng-click='verificarEncuesta()' style="   margin-top: 15px; margin-left: 12px;
    margin-right: 12px;    padding-bottom: 18px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.54);">

      <div style="   vertical-align: middle; width: 69%;display: inline-block;">
      <span style="color:#0958e9; font-size:26px">Modulo</span>
      <p style="    color: darkgray;font-size:18px" >{{modulo.nombre}}</p>
      <button ng-click='verificarEncuesta()' style="    background-color: transparent;
    border: solid 1px lightgray ;    color: darkgray;
    line-height: 20px;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;    min-height: 20px;" class="button">ver mas</button>
      </div>

      <div style="  color:#a87619;font-size: 40px;   text-align: center;   width: 29%;display: inline-block;line-height: 2;">

      <div ng-class="{'estadoCursando': modulo.estado == 'Cursando', 'estadoPendiente': modulo.estado == 'Pendiente'}"  style="    
    height: 45px;
    width: 45px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;"></div>

      </div>



    </div>



        <div ng-show='existeTesis' ui-sref='notaTesis({idMaestria: maestria.id})'  style="   margin-top: 15px; margin-left: 12px;
    margin-right: 12px;    padding-bottom: 18px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.54);">

      <div style="   vertical-align: middle; width: 69%;display: inline-block;">
      <span style="color:#333; font-size:26px">Tesis</span>
      <p style="    color: darkgray;font-size:27px" >{{tesis.estado}}</p>
      <button ui-sref='notaTesis({idMaestria: maestria.id})' style="    background-color: transparent;
    border: solid 1px lightgray ;    color: darkgray;
    line-height: 20px;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;    min-height: 20px;" class="button">ver mas</button>
      </div>

      <div style="  color:darkgray;font-size: 40px;   text-align: center;   width: 29%;display: inline-block;line-height: 2;">{{tesis.avance}}<span style="font-size: 30px;position: absolute;margin-top: 5px;">%</span></div>



    </div>







    
  </ion-content>
</ion-view>
