<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    

 <ion-nav-back-button class="button-clear">
   
  </ion-nav-back-button>
      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>


  <ion-content >
    

    <div class='encabezadoDiv' >
      <span class='encabezadoNombre'>Estado Academico Modulo</span>
      <div class='nombreEstudiante'>{{nombreAlumno}}</div>
    </div>


    <div class='nombreSeccion'>

      <div class='divSeccionIcono'>
        <i class="icon ion-ios-arrow-left">        
        </i>
      </div>

      <div class="divSeccionContent">
        <p>Maestria</p>
        <p>{{nombreMaestria}}</p>
      </div>

    </div>

    <div class='sliderDiv'>
      <p>Diplomado</p>

      <div class='sliderContainer'>
        <i ng-click='nextSlide()' class="ion-chevron-right"></i>
        <i ng-click='prevSlide()' class="ion-chevron-left"></i> 
      <data-date-slider-picker style='z-index: 5' cantidad='idMaestria' diplo='idDiplomado' tipo=1>
      </data-date-slider-picker>
      </div>
    </div>

    <div class='tituloContent' >
      <div >
        <span>Modulo</span>
      </div>
      <div>nota</div>
    </div>



 <div class='divContentListItem' ng-repeat='m in modulos' ng-click='verificarEncuesta(m.idModulo)'  >

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">{{m.orden}}. {{m.nombre}}</span>

      </div>

      <div ng-show='m.nota !== null'  style="    color: #0958e9;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;">{{m.nota}}<i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i>
    </div>

      <div ng-show='m.estado == 1'  style="    color: #0958e9;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;">
    <div class="estadoCursando"   style="    
    height: 40px;
    width: 40px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;">
      
    </div>

    <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i>
    </div>


          <div ng-show='m.estado == null'  style="    margin-left: 3%;color:darkgray;vertical-align: middle;font-size: 25px;text-align: center;width: 25%;display: inline-block;line-height: 2;"><strong>-</strong>  <i  style='margin-left: 4px;
    color: darkgray; float:right;' class="icon ion-ios-arrow-right"></i></div>

 </div>

<!-- 


 <div class='divContentListItem'>

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">2. Gestion y planificacion estrategica</span>

      </div>

      <div ui-sref='notaDiplomado' style="    color: #0958e9;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;">4  <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i></div>
 </div>



 <div class='divContentListItem'>

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">3. Analisis contable y financiero</span>

      </div>

      <div style="    color: #0958e9;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;">3  <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i></div>
 </div>



 <div class='divContentListItem'>

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">4. Gestion financiera</span>

      </div>

      <div style="    color: #0958e9;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;">


                <div style="  background-color: #90ad40;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;"></div>

      <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i></div>
 </div>



 <div class='divContentListItem'>

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">5. Mercadeo de capitales</span>

      </div>

      <div style="    color: darkgray;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;"><strong>-</strong>  <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i></div>
 </div>



 <div class='divContentListItem'>

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:darkgray;font-size: 19px;">6. Valuacion de empresas</span>

      </div>

      <div style="    color: darkgray;
    vertical-align: middle;
    font-size: 36px;
    text-align: center;
    width: 25%;
    display: inline-block;
    line-height: 2;"><strong>-</strong>  <i style='    color: darkgray;
    right: 0px;
    position: absolute;
    margin-right: 20px;
    font-size: 28px;
    margin-top: 8px;' class="icon ion-ios-arrow-right"></i></div>
 </div>
 -->






  </ion-content>
</ion-view>
