<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    


             <ion-nav-buttons  side="left">
            <div ng-controller='mainMenuCtrl' style="background-color: #0958e9;
    border-radius: 100%; height: 50px;width: 50px;   margin-top: 2px;
    margin-left: 7px;    text-align: center;
   ">
                <button ng-click='openModal("menu.html", "fade-in-right")' style='  font-size: 26px;
    margin-top: 8px;
    color: #fafafa;' class="button  button-clear ion-navicon-round" menu-toggle="right">
                </button>
                             <div ng-show='not > 0' ng-controller='getNotiCtrl' style="     position: absolute;
    top: 0;
    left: 0;
    margin-left: 52px;
    margin-top: 20px;
    background-color: orange;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.7;
    border-radius: 100%;
    color: #0958e9;
    font-size: 15px;"><strong>{{not}}</strong></div>
                </div>
            </ion-nav-buttons>


      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>


  <ion-content >
    


  </ion-content>
</ion-view>
