<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    

 <ion-nav-back-button class="button-clear">
   
  </ion-nav-back-button>
         
<!--              <ion-nav-buttons side="left">
            <div style="background-color: #0958e9;
    border-radius: 100%; height: 29px;width: 29px;   margin-top: 8px;
    margin-left: 7px;    text-align: center;
   ">
                <button style='font-size: 23px;
    margin-top: -1px;
    color: #fafafa;
    margin-right: 2px;' class="button  button-clear ion-ios-arrow-left" menu-toggle="right">
                </button>
                  <span>volver</span>
                </div>
            </ion-nav-buttons> -->


      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>


  <ion-content >
    

    <div class='encabezadoDiv'>
      <span class='encabezadoNombre'>Nota Modulo</span>
      <div class='nombreEstudiante'>{{nombreAlumno}}</div>
    </div>


<div style="
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 8px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.54);
    " ui-sref='home'>
    <div style="display:inline-block;margin-right: 14px;font-size: 25px;vertical-align: middle;">
        <i style='    opacity: 0.8;
    color: #0958e9;' class="icon ion-ios-arrow-left"></i>
    </div>
    <div style="color:darkgray;display:inline-block;width: 64%;vertical-align: middle;">
        <p style="font-size: 21px;
            margin-bottom: 0px;">Maestria</p>
        <p style="
    font-size: 15px;
    line-height: 13px;
">{{nombreMaestria}}</p>
    </div>


    </div>




    <div class='sliderDiv'>
      <p>Diplomado</p>
      <p>{{nombreDiplomado}}</p>
      <div class='sliderContainer'>
        <i ng-click='nextSlide()' class="ion-chevron-right" style="    margin-top: 22px !important"></i>
        <i ng-click='prevSlide()' class="ion-chevron-left" style="    margin-top: 22px !important"></i> 
      <data-date-slider-picker style='z-index: 5' cantidad='idDiplomado' diplo='idModulo' tipo=2>
      </data-date-slider-picker>
      </div>
    </div>




<div style="
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
border-bottom: solid 1px rgba(211, 211, 211, 0.54);
padding-bottom: 18px;
    
    ">

      <div style="   vertical-align: middle; width: 70%;display: inline-block;">
      <span style="color:#0958e9;font-size: 27px;">Modulo</span>

      </div>
<p style="    margin-top: 10px;
    font-size: 18px;
    color: darkgrey;"> {{modulo.nombre}}</p>
     

<div class="row">

  <div style='text-align:center;font-size: 70px;padding-left: 0px;line-height: 60px; border-right: solid 2px #0958e9;color: #0958e9;' class="col col-20">{{modulo.nota|| '-'}}</div>

  <div style='    font-size: 18px;
    margin-left: 10px;color: darkgrey;' class="col col-80 "><strong style="color:#0958e9;">{{modulo.asistencia || '-'}}%</strong> Asistencia <br> <strong style="color:#0958e9;">{{modulo.trabajo|| '-'}}%</strong> Trabajo practico<br> <strong style="color:#0958e9;">{{modulo.evaluacion|| '-'}}%</strong>  Evaluacion individual</div>
</div>




    </div>



     <div style="
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
  
    ">

 <p style="margin-bottom: 0px;
    font-size: 19px;
    color: darkgrey;">Profesor</p>
 <p style=" color: #0958e9 ;   font-size: 16px;">{{modulo.profesor || '-'}}</p>

</div>




  </ion-content>
</ion-view>
