<ion-view>

    <ion-nav-bar align-title="right" class="bar-blank">
    

 <ion-nav-back-button class="button-clear">
   
  </ion-nav-back-button>
      <ion-nav-title >
     <img class='imagenHeader' src="img/Logo_Azul.png"> 
      </ion-nav-title>
    </ion-nav-bar>


  <ion-content >
    

    <div class='encabezadoDiv' >
      <span class='encabezadoNombre'>Marcelo Daponte Gonzalves</span>
   
    </div>

    <div class='notificacionesContent nombreSeccion '>
    <span>Mensajes</span>

      <div ion-ripple class='notiDiv noLeida'>
        <p class="encabezadoNoti">Esta tu nota de calificaciones de modulo!</p>
        <p class="cuerpoNoti">Para conocer el resultado debes de ponerte al dia con tu cuota</p>
        <p class="accionNoti">Pasar por administracion</p>

        <div class="identificador"></div>

      </div>


      <div ion-ripple class='notiDiv noLeida'>
        <p class="encabezadoNoti">Esta tu nota de calificaciones de modulo!</p>
        <p class="cuerpoNoti">Para conocer el resultado debes completar la encuesta de calidad de modulo</p>
        <p class="accionNoti">Ir a la encuesta</p>
 <div class="identificador"></div>
      </div>


            <div ion-ripple class='notiDiv leida'>
        <p class="encabezadoNoti">Tenes la oportunidad de recuperar el examen</p>
        <p class="cuerpoNoti">Pasa por la administracion para solicitar fecha de la primera oportunidad</p>
        <p class="accionNoti">Tenes 60 dias a partir de hoy</p>

      </div>


    </div>





  </ion-content>
</ion-view>
